* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: red;
}

.Navbar {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
}

.nav-links {
  display: flex;
  background-color: blue;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: rgb(225, 225, 225);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links li {
  list-style: none;
}

.Sidebar {
  z-index: 9989;
  position: sticky;
  top: 0;
  width: 100%;
}

.popup_container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(44, 61, 80, 0.5);
  z-index: 9990;
  display: flex;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
}

.LogIn {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #e00505da;
  border-radius: 5px;
  padding: 10px;
  color: #dfdfdf;
}

.Register {
  position: relative;
  width: 300px;
  height: 620px;
  /* background-color: #e00505da; */
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  color: #dfdfdf;
}

.close_button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  color: #dfdfdf;
  border-radius: 5px;
}

.close_button_image {
  width: 30px;
  height: 30px;
  filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(100%)
    contrast(100%);
}

.close_button_image:hover {
  content: url("images/pizza_close.svg");
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(100%)
    contrast(100%);
}

/**/

.alert {
  margin-top: 8px;
  margin-bottom: 0px !important;
}

.center {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.absolute {
  width: 80%;
  max-width: 800px;
  position: absolute !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.transparent {
  opacity: 0.9;
}
/* moje, poukładać :)*/
