* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: RGB(38, 40, 55);
}

#backgroundImg {
  height: 92vh;
  background-image: url("pizzaBackground.jpg");
  background-color: #cccccc;
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-links {
  display: flex;
  background-color: RGB(38, 40, 55);
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  cursor: pointer;
  padding: 5px;
  color: rgb(225, 225, 225);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  list-style: none;
}

@font-face {
  font-family: 'pizza';
  src: url('pizza.eot?45830896');
  src: url('pizza.eot?45830896#iefix') format('embedded-opentype'),
    url('pizza.woff2?45830896') format('woff2'),
    url('pizza.woff?45830896') format('woff'),
    url('pizza.ttf?45830896') format('truetype'),
    url('pizza.svg?45830896#pizza') format('svg');
  font-weight: normal;
  font-style: normal;
}

input[type="password"] {
  font-family: "pizza" !important;
  font-style: normal;
  font-weight: normal;
  speak-as: none;

  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  letter-spacing: 2px;
}

.icon-pizza_:before {
  content: '\e800';
}

.nav-links li:hover {
  transition: 1s;
  transform: translate(0%, -15%);
  animation: mymove 1s;
  background-color: RGB(28, 30, 45);
  color: RGB(243, 111, 39);
}

.Sidebar {
  z-index: 9989;
  position: sticky;
  top: 0;
  width: 100%;
}

.popup_container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(44, 61, 80, 0.5);
  z-index: 9990;
  display: flex;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
}

.LogIn {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: RGB(38, 40, 55);
  border-radius: 5px;
  padding: 10px;
  color: #dfdfdf;
}

.Register {
  position: relative;
  width: 300px;
  height: 620px;
  /* background-color: #e00505da; */
  background-color: RGB(38, 40, 55);
  border-radius: 5px;
  padding: 10px;
  color: #dfdfdf;
}

.close_button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  color: #dfdfdf;
  border-radius: 5px;
}

.close_button_image {
  width: 30px;
  height: 30px;
  filter: invert(95%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(100%) contrast(100%);
}

.close_button_image:hover {
  content: url("images/pizza_close.svg");
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(87deg) brightness(100%) contrast(100%);
}

#dojazd {
  cursor: pointer;
}

/**/

.alert {
  margin-top: 8px;
  margin-bottom: 0px !important;
}

.center {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.absolute {
  width: 80%;
  max-width: 800px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.transparent {
  opacity: 0.9;
}

#backgroundImg {
  height: 92vh;
  background-image: url("pizzaBackground.jpg");
  background-color: #cccccc;
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* moje, poukładać :)*/

nav img {
  margin-left: -100px;
}

#google {
  width: 100%;
  padding: 10px;
  border-top: 5px solid RGB(243, 111, 39);
}

.logomen {
  position: sticky;
  top: 100%;
  margin-right: -550px;
  /* Fuszerka */
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 0.6rem white, 0 0 1.5rem RGB(243, 111, 39),
    -0.2rem 0.1rem 1rem RGB(243, 111, 39), 0.2rem 0.1rem 1rem RGB(243, 111, 39),
    0 -0.5rem 2rem RGB(243, 176, 97), 0 0.5rem 3rem RGB(243, 176, 97);
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {

  0%,
  22%,
  36%,
  75% {
    color: white;
    text-shadow: 0 0 0.6rem white, 0 0 1.5rem RGB(243, 111, 39),
      -0.2rem 0.1rem 1rem RGB(243, 111, 39),
      0.2rem 0.1rem 1rem RGB(243, 111, 39), 0 -0.5rem 2rem RGB(243, 176, 97),
      0 0.5rem 3rem RGB(243, 176, 97);
  }

  28%,
  33% {
    color: RGB(243, 111, 39);
    text-shadow: none;
  }

  82%,
  97% {
    color: RGB(243, 176, 97);
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: RGB(243, 111, 39);
    text-shadow: none;
  }

  100% {
    color: white;
    text-shadow: 0 0 0.6rem white, 0 0 1.5rem RGB(243, 111, 39),
      -0.2rem 0.1rem 1rem RGB(243, 111, 39),
      0.2rem 0.1rem 1rem RGB(243, 111, 39), 0 -0.5rem 2rem RGB(243, 176, 97),
      0 0.5rem 3rem RGB(243, 176, 97);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.car {
  width: 100%;
  z-index: 2;
  animation: car 5s linear infinite;
}

.car img {
  width: 400px;
}

@keyframes car {
  100% {
    transform: translateY(-1px);
    transform: translateX(100%);
  }

  0% {
    transform: translateY(-1px);
    transform: translateX(-100%);
  }
}

.back-wheel {
  width: 72px !important;
  height: 72px !important;
  animation: wheel 1s linear infinite !important;
  position: relative;
  top: 43px;
  left: -368px;
}

.front-wheel {
  width: 72px !important;
  height: 72px !important;
  animation: wheel 1s linear infinite !important;
  position: relative;
  top: 43px;
  left: -200px;
}

@-moz-keyframes wheel {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes wheel {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes wheel {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}